
	<div >
		<br>
		<div class="container">
			
			<div class="row">
			  <div class="col-sm">
				
				
				  <div class="card" style="width: 18rem;">
					<img src="../assets/images/pizzahut1.jpg" class="card-img-top" alt="...">
					<div class="card-body">
					  <p class="card-text">Flat 6% off. Applicable on payment via Credit Card, Debit Card & Net banking. | USE CODE: PZ6</p>
					</div>
				
				  </div>
			  </div>
			  <div class="col-sm">
				<div class="card" style="width: 18rem;">
					<img src="../assets/images/pizzahut1.jpg" class="card-img-top" alt="...">
					<div class="card-body">
					  <p class="card-text">Flat 7% off. Applicable on payment via UPI. | USE CODE: PZ7.</p>
					</div>
				  </div>
				
			  </div>
			 
			</div>
		  </div>