




	<div >
		<br>
		<div class="container">
			
			<div class="row">
			  <div class="col-sm">
				
				
				  <div class="card" style="width: 18rem;">
					<img src="myntra.jpg" class="card-img-top" alt="...">
					<div class="card-body">
					  <p class="card-text">Flat 8% off. Applicable on payment via UPI. | USE CODE: MN8</p>
					</div>
				
				  </div>
			  </div>
			  <div class="col-sm">
				<div class="card" style="width: 18rem;">
					<img src="myntra.jpg" class="card-img-top" alt="...">
					<div class="card-body">
					  <p class="card-text">Flat 7% off on payment via Credit Card, Debit Card, Net Banking. | USE CODE: MN7
                        .</p>
					</div>
				  </div>
				
			  </div>
			  
			</div>
		  </div>