<p>flipkart works!</p>


<div >
    <br>
    <div class="container">
        
        <div class="row">
          <div class="col-sm">
            
            
              <div class="card" style="width: 18rem;">
                <img src="f1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Get flat 5% worth Cashback. Applicable on payment via UPI. Cashback will be given in the form of an E-Gift Card, which can be redeemed only on purchase of Google Play gift code on www.oho.in & oho App. Please read the offer T&C carefully. | USE CODE: FK5.</p>
                </div>
            
              </div>
          </div>
          <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="f1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Get flat 3.5% worth Cashback E-Gift Card redeemable on Google Play Gift Code. Applicable on payment via Debit Card, Credit Card and Net banking | USE CODE: FK</p>
                </div>
              </div>
            
          </div>
          
        </div>
      </div>