
<title> AMAZON cards</title>
<div >
    <br>
    <div class="container">
        
        <div class="row">
          <div class="col-sm">
            
            
              <div class="card" style="width: 18rem;">
                <img src="../assets/images/am.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Only UPI payment is accepted for this gift card. No processing fee is charged. --- On Amazon Pay Special E-Gift Card (oho.in/amazon-pay-special-e-gift-card) Credit/Debit card, Net Banking, Woohoo balance options are available. Processing fee is charged.</p>
                </div>
            
              </div>
          </div>
          <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="../assets/images/am.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Credit/Debit card and Net Banking options are available. A processing fee is charged on this gift card. ------- On Amazon Pay E-Gift Card (oho.in/amazon-in-e-gift-card) - Only UPI payment is accepted – No processing fee is charged.</p>
                </div>
              </div>
            
          </div>
          <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="../assets/images/am.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Credit/Debit card and Net Banking options are available. A processing fee is charged on this gift card. ------- On Amazon Pay E-Gift Card (oho.in/amazon-in-e-gift-card) - Only UPI payment is accepted – No processing fee is charged.</p>
                </div>
              </div>
            
              
          </div>
        </div>
      </div>