<title> E-gift cards</title>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
	  <div class="carousel-item active">
		  <img src="../assets/images/slide1.jpg" class="d-block w-100" alt="...">
	  </div>
	  <div class="carousel-item">
		<img src="../assets/images/slide2.jpg" class="d-block w-100" alt="...">
	  </div>
	  <div class="carousel-item">
		<img src="../assets/images/slide3.jpg" class="d-block w-100" alt="...">
	  </div>
	</div>
  </div>


<div >
<br>
<div class="container">
	
	<div class="row">
	  <div class="col-sm">
		<div class="card" style="width: 18rem;">
			<img src="../assets/images/appolo.jpg" class="card-img-top" alt="...">
			<div class="card-body">
			  <p class="card-text">Flat 9% off. Applicable on payment via Debit Card, Credit Card or Net Banking. | USE CODE: AP9</p>
			</div>
		  </div>
		<br>
		  <div class="card" style="width: 18rem;">
			<img src="../assets/images/flipkart1.png" class="card-img-top" alt="...">
			<div class="card-body">
			  <p class="card-text">Get flat 5% worth Cashback. Please read the offer T&C carefully. | USE CODE: FK5</p>
			</div>
		<br>
		  </div>
		  <div class="card" style="width: 18rem;">
			<img src="../assets/images/grof.jpg" class="card-img-top" alt="...">
			<div class="card-body">
			  <p class="card-text">Flat 4% off. Applicable on payment via UPI. | USE CODE: GR4</p>
			</div>
		
		  </div>
	  </div>
	  <div class="col-sm">
		<div class="card" style="width: 18rem;">
			<img src="../assets/images/am.jpg" class="card-img-top" alt="...">
			<div class="card-body">
			  <p class="card-text">Only UPI payment is accepted for this gift card. --- On Amazon Pay Special E-Gift Card  </p>
			</div>
		  </div>
		<br>
		  <div class="card" style="width: 18rem;">
			<img src="../assets/images/bb.png" class="card-img-top" alt="...">
			<div class="card-body">
			  <p class="card-text">Flat 3% off. Applicable on payment via Debit Card, Credit Card & Net banking. | USE CODE: BIGBASKET3</p>
			</div>
		  </div>
		<br>
		  <div class="card" style="width: 18rem;">
			<img src="../assets/images/dominos.jpg" class="card-img-top" alt="...">
			<div class="card-body">
			  <p class="card-text">Flat 3% off. Applicable on payment via Credit Card, Debit Card & Net Banking.| USE CODE: DOM3</p>
			</div>
		  </div>
	  </div>
	  <div class="col-sm">
		<div class="card" style="width: 18rem;">
			<img src="../assets/images/pizzahut1.jpg" class="card-img-top" alt="...">
			<div class="card-body">
			  <p class="card-text">Flat 6% off. Applicable on payment via Credit Card, Debit Card & Net banking. | USE CODE: PZH6</p>
			</div>
		  </div>
		<br>  
		  <div class="card" style="width: 18rem;">
			<img src="../assets/images/med.png" class="card-img-top" alt="...">
			<div class="card-body">
			  <p class="card-text">Flat 10% off. | USE CODE: N10<br>Flat 10% off. | USE CODE: M10</p>
			</div>

		  </div>
		<br>
		  <div class="card" style="width: 18rem;">
			<img src="../assets/images/myntra1.jpg" class="card-img-top" alt="...">
			<div class="card-body">
			  <p class="card-text">Flat 7% off on payment via Credit Card, Debit Card & Net Banking. | USE CODE: MN7</p>
			</div>
		  </div>
		  
	  </div>
	</div>
  </div>	

